{{#extends 'base'}}

  {{#block 'title'}}🧠 Check Availability{{/block}}

  {{#block 'content'}}
    <div class='col'>
      <form method='post'>
        <input type='hidden' name='_csrf' value='{{csrfToken}}' />
        <div class='mb-3'>
          <h1 class='mb-5'>Update All</h1>
          {{#each allOrgs}}
            <label class='form-label'>{{this.org_name}}</label>
            <input
              type='text'
              class='form-control mb-5'
              id='{{this.id}}'
              name='{{this.id}}'
              aria-describedby='text'
              placeholder='Incl date and any special requirements'
            />
          {{/each}}
        </div>
        <button type='submit' class='btn btn-primary'>Update</button>
      </form>
    </div>
  {{/block}}

{{/extends}}